<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Number</th>
      <th scope="col">Date</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of responseobj.values">
      <th scope="row">{{item.orderID}}</th>
      <td>{{item.orderDate}}</td>
      <td>{{item.status}}</td>
      
      <td><button type="button" class="btn btn-success" (click)="Details(item.orderID)">Details</button></td>
      <td><button type="button" class="btn btn-info" (click)="Edit(item)">Edit</button></td>
      <td><button type="button" class="btn btn-danger" (click)="Delete(item.orderID)">Delete</button></td>
    </tr>
  </tbody>
</table>