<a type="button" href="/CreateProduct" class="btn btn-primary">Add Product</a>
<br>
<label for="LeagueId" style="margin-left: 20%;">Category</label>
				<select style="width: 50%;" name="CategoryID" [(ngModel)]="CategoryID" (change)="product()"   required>
				  <option value="">--Select Category--</option>
				  <option *ngFor="let league of responseobj.values" [value]="league.categoryID">{{ league.categoryName }}</option>
				</select>
        <br><br>
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ProductName</th>
      <th scope="col">price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Description</th>

      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of responseobj2.values">
      <th scope="row"><img src={{item.productImageURL}} width="50px" height="50px" ></th>
      <td>{{item.productName}}</td>
      <td>{{item.price}}</td>
      <td>{{item.stockQuantity}}</td>
      <td>{{item.description}}</td>

      <td><button type="button" class="btn btn-info" (click)="Edit(item)">Edit</button></td>
      <td><button type="button" class="btn btn-danger" (click)="Delete(item.productID)">Delete</button></td>
    </tr>
  </tbody>
</table>